{% extends "articles/template.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Article</title>
</head>
<body>
    {%block header %}
    <div class="header-container" id="header">
        This is the page to create articles.
    </div>
    {% endblock %}

    {% block content %}
    <div class="content-container" id="content">
        This is future article creator.
    </div>
    {% endblock %}
</body>
</html>